1-fund_do_desenv_web/bloco-5-javascript-dom-eventos-e-web-storage/dia-1-javascript-dom-e-seletores/sd-024-a-live-lectures
2-front-end/bloco-9-javascript-e-testes-assincronos/dia-3-jest-testes-assincronos/aula-course/9.3-content-async-test-alvimjp
2-front-end/bloco-9-javascript-e-testes-assincronos/dia-3-jest-testes-assincronos/exercicio-do-dia/sd-024-a-exercise-magic-card
